.TaskItem {
    display: grid;
    grid-template-columns: 40px auto;
    width: 500px;
    height: 44px;
    align-items: center;
    gap: 8px;
}

.TaskItem .icon {
    place-self: center;
    stroke-width: 2px;
    fill: none;
    place-self: center;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.TaskItem .check-icon {
    height: 30px;
    width: 30px;
    stroke: #f4f4f4;
}

.TaskItem .icon-check--active {
    stroke:  #4CAF50;
}

.TaskItem .check-icon:hover {
    cursor: pointer;
    stroke-opacity: 60%;
}


.TaskItem .TaskItem-Conten {
    display: grid;
    grid-template-columns: auto 40px;
    background-color: #fabb18;
    height: 100%;
    align-items: center;
    border-radius: 8px;
}

.TaskItem .TaskItem-Conten .TaskItem-p {
    margin: 0;
    padding: 0 8px;
    color: white;
}

.TaskItem .TaskItem-Conten .TaskItem-p--complete {
    text-decoration: line-through;
}

.TaskItem .TaskItem-Conten .x-icon {
    height: 24px;
    width: 24px;
    stroke: #000000;
}

.TaskItem .TaskItem-Conten .x-icon:hover {
    stroke: darkred;
    cursor: pointer;
}

.TaskItem .TaskItem-Conten .x-icon:active,
.TaskItem .check-icon:active {
    width: 50%;
}

@media (max-width: 640px) {
    .TaskItem {
        width: 320px;
    }
}