@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');

.TaskSearch {
    background-color: #e4efe4;
    width: 500px;
    height: 52px;
    border-radius: 8px;
    border-style: none;
    padding: 0 12px;
    font-family: 'Quicksand', sans-serif;
    color: #3e3c3b;
    display: grid;
    justify-content: center;
}

.TaskSearch:focus {
    outline-color: #fabb18;
}

@media (max-width: 640px) {
    .TaskSearch {
        width: 320px;
    }
}